/* Import fonts from Google fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,regular,italic,500,500italic&display=swap');

/* Connect Fonts use local files */

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

a {
	color: #1e90ff;
}

a:hover {
	color: #0000ff;
}

span {
	color: #ff1493;
}

strong {
	color: #b22222;
	font-size: 20px;
}

i {
	color: #2ecd2e;
	font-weight: 300;
	font-size: 20px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.navigation {
	padding: 20px 30px;
	background-color: #d3d3d3;
	border-radius: 20px;
	margin: 20px auto;
	width: 23%;
	border: 1px solid #555;
}

.title {
	font-family: "Proxima Nova Lt", sans-serif;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0 auto 20px;
	text-align: center;
	color: #008000;
	text-shadow: 3px 3px 5px #000;
}

.text {
	text-indent: 50px;
	color: #1e90ff;
	margin-bottom: 20px;
}

.item {
	padding: 10px;
	margin: 5px;
	background-color: #d3d3d3;
	border-radius: 20px;
	border: 1px solid #555;
	text-transform: uppercase;
	font-weight: 500;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.header__logo-img {
	width: 70px;
}

.nav__list {
	display: flex;
	margin: 30px 0 20px auto;
	gap: 50px;
}

.nav__list-link {
	color: #8b0000;
	text-transform: uppercase;
	font-weight: 500;
}

.nav__list-link:hover {
	color: #ff8c00;
}

.blog__title {
	font-size: 70px;
	color: #1e90ff;
	font-family: "Proxima Nova Rg", sans-serif;
	text-transform: uppercase;
	text-shadow: 5px 5px 8px #000;
	text-align: center;
	margin-bottom: 20px;
}

.blog__img {
	width: 800px;
	display: block;
	margin: 30px auto;
	padding: 5px;
	background-color: #555;
	border-radius: 20px;
}

.development {
	margin: 20px 0 30px;
}

.development__title {
	text-align: center;
}

.development__text span {
	color: #ee82ee;
}

.development__text span ~ span {
	color: #8b0000;
}

.development__text-web {
	color: #ff8c00;
}

.development__text-web i {
	color: #ff0000;
}

.development__text-web span {
	color: #00bfff;
}

.development__text-web span ~ span {
	color: #a52a2a;
}

.development__text-web span ~ span ~ span {
	color: #800080;
}

.pages__title {
	color: #1e90ff;
	text-shadow: 3px 3px 5px #800080;
}